name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install -y python3-pip openjdk-17-jdk
        pip install buildozer cython

    - name: Build APK
      run: |
        buildozer init
        sed -i 's/package.name = myapp/package.name = Finanzas/' buildozer.spec
        sed -i 's/package.domain = org.test/package.domain = com.marco/' buildozer.spec
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
